<div class="collapse navbar-collapse" id="collapse">
  <!-- link and dropdown -->
  <ul class="nav navbar-nav mr-auto">
    <li class="nav-item dropdown">
      <label class="m-y-xs pointer" ui-fullscreen>
        <span class="fa fa-expand fa-fw m-r-xs"></span>
        <span>Fullscreen Mode</span>
      </label>
      <div ui-include="'/vendor/envato/views/blocks/dropdown.new.html'"></div>
    </li>
  </ul>

  <!--   <div ui-include="'/vendor/envato/views/blocks/navbar.form.html'"></div> -->
</div>
