<% if(locals.warning) { %>

  <p> <%= warning %> </p>

<% } %>

<% if(locals.error) { %>

  <p> <%= error %> </p>

<% } %>

<% if(locals.message) { %>

  <p> <%= message %> </p>

<% } %>

<% if(locals.success) { %>

  <p> <%= success %> </p>

<% } %>
